<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--This setting is used to change the process affinity of the application to ensure to optimize the processer swapping time latency.-->
    <add key="ChangeAffinity" value="false"/>
  </appSettings>
</configuration>